@import "color.css";

.aboutsection{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h1{
    color: var(--headingColor);
    font-weight: 700;
}
.mainabout{
    width: 70%;
    height: 90%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.mainabout p{
    width: 80%;
}

.mainabout p:last-of-type{
    align-self: flex-end;
    width: 45%;
    justify-items: flex-end;
    margin-top: 10%;
    position: relative;
}
.leftside{
    width: 15%;
    height: 70%;
}

.icondiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quotes{
    position: absolute;
    color: var(--headingColor);
    opacity: .3;
    font-size: 4rem;
    top:-30px;
    left: -20px;
}