@import "color.css";

.aboutsection{
    width: 75%;
    display: flex;
    align-items: center;
}

.h1{
    color: var(--headingColor);
    font-weight: 700;
}
.mainabout{
    width: 100%;
    height: 95%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.mainabout p{
    width: 500px;
}

.mainabout p:last-of-type{
    align-self: flex-end;
    width: 500px;
    justify-items: flex-end;
    margin-top: 10%;
    position: relative;
}
.leftside{
    width: 15%;
    height: 70%;
}

.icondiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quotes{
    position: absolute;
    color: var(--headingColor);
    opacity: .3;
    font-size: 4rem;
    top:-30px;
    left: -20px;
}

@media screen and (max-width:900px) {
    .aboutsection{
        font-size: .9rem;
    }
    .mainabout{
        gap: 2%;
    }
    .mainabout p{
        width: 98%;
    }
    .mainabout p:last-of-type{
        width: 80%;
    }
    .quotes{
        font-size: 3rem;
        top: -20px;
    }
}

@media screen and (max-width:600px) {
    .aboutsection{
        font-size: .9rem;
        width: 98%;
    }
    .mainabout{
        gap: 2%;
    }
    .mainabout p{
        width: 98%;
    }
    .mainabout p:last-of-type{
        width: 80%;
    }
    .quotes{
        font-size: 3rem;
        top: -20px;
    }
}