@import "color.css";

.aboutsection{
    width: 75%;
    display: flex;
    align-items: center;
}

.h1{
    color: var(--headingColor);
    font-weight: 700;
    font-size: 2.5rem;
}
.tagline{
    font-size: .9rem;
    font-style: oblique;
}
.mainabout{
    width: 100%;
    height: 95%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.mainabout p{
    width: 85%;
    font-size: .9rem;
}

.mainabout p:last-of-type{
    align-self: flex-end;
    width: 70%;
    justify-items: flex-end;
    position: relative;
    margin-top: 10px;
}
.leftside{
    width: 15%;
    height: 70%;
}

.icondiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quotes{
    position: absolute;
    color: var(--headingColor);
    opacity: .3;
    font-size: 3rem;
    top:-20px;
    left: -20px;
}

@media screen and (max-width:900px) {
    .h1{
        font-size: 2.5rem;
    }
    .aboutsection{
        font-size: .9rem;
    }
    .mainabout{
        gap: 2%;
    }
    .mainabout p{
        width: 98%;
        font-size: .8rem;
    }
    .mainabout p:last-of-type{
        width: 80%;
    }
    .quotes{
        font-size: 3rem;
        top: -20px;
    }
}

@media screen and (max-width:600px) {
    .aboutsection{
        font-size: .9rem;
        width: 98%;
    }
    .mainabout{
        gap: 2%;
    }
    .h1{
        font-size: 8vw;
    }
    .tagline{
        font-size: 3vw;
        font-style: italic;
    }
    .mainabout p{
        width: 98%;
        font-size: 2.5vw;
    }
    .mainabout p:last-of-type{
        width: 80%;
    }
    .quotes{
        font-size: 3rem;
        top: -20px;
    }
}