@import "color.css";

.aside{
    width: 15%;
    height: 70%;
    position: fixed;
    top:30%;
    left: 5%;
    z-index: 100;
}

.ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}
.item1{
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (max-width:900px){
    .aside{
        left: 2%;
        font-size: .9rem;
        width: 20%;
    }
}
@media screen and (max-width:600px){
    .aside{
        display: none;
    }
}