
:root{
    --lightBackgroundColor:#fbfcfa;
    --darkBackgroundColor: #1D1D1D;
    --darkPrimaryColor:#F5F7F9;
    --darkPrimaryColorHover:#d7d5d5;
    --lightPrimatyColor:#1D1D1D;
    --secondaryColor:#FF9A3E;
    --headingColor:#CBD0D6;
    --teamColor:#30BEC7;
    --manifestoColor:#F0FF44;
    --onHoverShadow: #050505;
    --submitBtn:rgb(80, 80, 80);
}