
:root{
    --lightBackgroundColor:#fbfcfa;
    --darkBackgroundColor: #1D1D1D;
    --darkPrimaryColor:#fff;
    --darkPrimaryColorHover:#d7d5d5;
    --lightPrimatyColor:#1D1D1D;
    --secondaryColor:#FF9A3E;
}