@import "color.css";


.maindiv{
    width: 75%;
    /* background-color: yellowgreen; */
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: .9rem;

}
.maindiv h1{
    color: var(--headingColor);
    font-size: 2.5rem;
}

.tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    width: 70%;
    margin-bottom: 20px;
}
.tabs div{
    cursor: pointer;
    padding-bottom: 5px;
}

.tabclick{
    border-bottom: 2px solid var(--manifestoColor);
    color: var(--manifestoColor);
}

.section{
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* background-color:violet */
    /* height: 180px; */
}

.lastp{
    align-self: flex-end;
    position: relative;
    width: 70%;
    margin-top: 30px;    
}
.quotes{
    position: absolute;
    color: var(--headingColor);
    opacity: .3;
    font-size: 3rem;
    top:-20px;
    left: -25px;
}

@media screen and (max-width:900px) {
    .tabs{
        font-size: 1rem;
        width: 90%;
    }
}
@media screen and (max-width:600px) {
    .maindiv{
        width: 98%;
    }
    .tabs{
        font-size: .9rem;
    }
}
@media screen and (max-width:400px) {
    .tabs{
        font-size: 4vw;
        width: 98%;
    }
}