
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 50px;
    position: fixed;
    top:2px;
    animation: anim 1s ease-in-out;
}


@keyframes anim {
    from{
        opacity: 0;
    }
    to{
        opacity : 1;
    }
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-width:600px){
    .navbar{
        padding: 30px 10px;
    }
}