@import "color.css";


.main{
    width: 75%;
    /* background-color: yellowgreen; */
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.content{
    align-self: flex-start;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main h1{
    color: var(--headingColor);
    font-size: 2.5rem;
}
.userimg2{
    display: none;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: var(--headingColor);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    align-self: center;
}
.userimg{
    width: 25%;
    aspect-ratio: 1/1;
    margin-right: 2%;
    background-color: var(--headingColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userimg div{
    font-size: 5rem;
}


.content p{
    position: relative;
    font-size: .9rem;
}
.content p:nth-last-child(2) {
    margin-top: 2%;
}
.quotes{
    position: absolute;
    color: var(--headingColor);
    opacity: .3;
    font-size: 3rem;
    top:-20px;
    left: -20px;
}

@media screen and (max-width:800px) {
    .content{
        width: 90%;
        font-size: .9rem;
    }
    .content p{
        font-size: .8rem;
    }
    .userimg{
        display: none;
    }
    .userimg2{
        display: flex;
    }
    .quotes{
        font-size: 3rem;
        top: -20px;
    }
}



@media screen and (max-width:600px) {
    .main{
        width: 98%;
    }
    .content{
        width: 98%;
    }
    .content p:nth-of-type(2){
        align-self: flex-end;
        margin-left: 2%;
    }
    .quotes{
        font-size: 2.5rem;
        top:-15px;
        left: -10px;
    }
}